@using MySongsWebApp;
@{
    var songs = ViewData["Songs"] as List<SongModel>;
    var title = ViewData["TItle"];

    void RenderSong(SongModel song) {
        <li>@song.Id - @song.Title</li>
    }

    
}
<h1>@title</h1>

<p>This is the Songs list</p>
@if (songs is not null)
{
    <ul>
        @{
            songs.ForEach(s => RenderSong(s));
        }
    </ul>
}
