@using MySongsWebApp;
@using MySongsWebApp.Extensions
@using MySongsWebApp.Helpers
@{
    var title = "Song Insert";
}
<h1>@title</h1>

<p>This is the Song Insert</p>
<form asp-controller="Songs" asp-action="Insert" method="post">
    <!-- Input and Submit elements -->
</form>